" search
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap <Esc><Esc> :nohlsearch<CR><ESC>

" 移動しやすくする
nnoremap <S-h> ^
nnoremap <S-l> $
nnoremap <C-p> gt
nnoremap <C-n> gT
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
" 次/前の変更箇所
nnoremap [c :action VcsShowPrevChangeMarker<CR>
nnoremap ]c :action VcsShowNextChangeMarker<CR>
" 次/前のエラー
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>
" Project に移動
nnoremap <C-q> :action ActivateProjectToolWindow<CR>
" 定義を表示
nnoremap <C-s> :action ActivateStructureToolWindow<CR>

" statuline
set laststatus=2
set showcmd
set statusline+=%m

" yank >> clipboard
set clipboard+=unnamed

" x での削除はレジスタに保存しない
nnoremap x "_x

" see: https://github.com/tpope/vim-surround
set surround
